Flask==0.10.1
Flask-Bootstrap==3.1.1.2
Flask-Migrate==1.2.0
Flask-SQLAlchemy==1.0
Flask-Script==2.0.5
Flask-WTF==0.9.5
Flask-RESTful==0.3.4
flask-restful-swagger==0.19
flask-restplus==0.7.2
Jinja2==2.7.3
psutil==4.0.0
